/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/contrib/bootstrap-login-form/.nrepl-port
/contrib/bootstrap-login-form/target/repl-port
/contrib/bootstrap-login-form/target/stale/extract-native.dependencies
*.DS_Store
